<% layout('/layouts/boilerPlate') %>

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h3>Edit your Listings</h3>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="listing[title]" required value="<%= listing.title %>">
                        <div class="valid-feedback">
                            Title Looks good!
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" required class="form-control"><%= listing.description %></textarea>
                        <div class="invalid-feedback">
                            Please Enter a Short Description.
                        </div>
                    </div>

                    <div class="mb-3">
                        <p>Original Image</p>
                        <img src="<%= originalImageUrl %>" class="img-fluid" alt="Original Image">
                    </div>
                    
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" class="form-control" name="listing[image]">
                    </div>
                    
                    <div class="row">
                        <div class="mb-3 col-12 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" name="listing[price]" required value="<%= listing.price %>">
                            <div class="invalid-feedback">
                                Please Enter a Valid Price.
                            </div>
                        </div>
                        
                        <div class="mb-3 col-12 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="listing[country]" required value="<%= listing.country %>">
                            <div class="invalid-feedback">
                                Country name should be valid.
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="listing[location]" required value="<%= listing.location %>">
                        <div class="invalid-feedback">
                            Location should be valid.
                        </div>
                    </div>
                    
                    <button class="btn btn-dark edit-btn mt-3">Edit</button>
                </form>
            </div>
        </div>
    </div>
</body>
